body, html {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: grey;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

header {
    background-color: rgb(207, 207, 207);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.container {
  display: flex;
  justify-content: center;
  margin-right: 300px;
}

.main-content {
  margin-left: 20px;
}

.sitename {
    width: 15%;
}

.sidebar {
  width: 200px;
  background-color: #333;
  color: white;
  padding: 20px;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  padding: 10px;
}

.right-elements:hover {
    cursor: pointer;
}

/* CreatePost below  */

 form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="date"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .image-preview {
    margin-top: 10px;
  }
  
  .image-preview img {
    max-width: 100%;
    height: auto;
  }

 